<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="GUI_URL" value="http://localhost:4200" />
    <add key="SiteMonitRConnectionString" value="DefaultEndpointsProtocol=https;AccountName=auth10;AccountKey=OwiTGZRKcWmcqCawiNltOw5yjtcERz00rvid71phJYY5JJNTWvAOGEYCFkpactN6cplKPQFPV6n0JmioMYSjZg==" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
