<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81FA18DC4847693CBAD8D2F4E4D4BB5F76F" validation="SHA1" validationKey="A18DC4847693CBAD8D2F4E4D4BB5F76FD196974F9DE62168764FF0DCE537184F0535D5D9AD66DEDCA18DC4847693CBAD8D2F4E4D4BB5F76FD196974F97DC1ABF" />
    <httpRuntime requestValidationMode="2.0" requestValidationType="SiteMonitR.Web.FederatedIdentity.Infrastructure.AllowTokenPostRequestValidator" />
  </system.web>
  <appSettings>
    <!-- 
	  		federated identity configuration
        To enable this, create a relying party on Windows Azure Access Control Service. Or use http://auth10.com to do it in minutes
	  	-->
    <add key="fedauth.enabled" value="false" />
    <add key="fedauth.realm" value="" />
    <add key="fedauth.certThumbprint" value="" />
    <add key="fedauth.requireSsl" value="" />
    <add key="fedauth.waad.serviceNamespace" value="" />
  </appSettings>
</configuration>